.yield_leading h3 {
  color: var(--Text-Colors-900, #09090b);

  font-style: normal;
  font-weight: 700;
  line-height: 130%;

  margin-bottom: 16px;
}
.yield_leading P {
  color: #666;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.our_team h3 {
  color: var(--Text-Colors-900, #09090b);
  text-align: center;

  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
}
/* 
.team_card.team {
  padding: 30px;
} */

.team_card {
  padding: 30px 60px;
  border-radius: 20px;
  border: 1px solid #e7eff1;
  background: #fff;
  /* 
  box-shadow: 0px 161px 45px 0px rgba(171, 171, 171, 0),
    0px 103px 41px 0px rgba(171, 171, 171, 0.01),
    0px 58px 35px 0px rgba(171, 171, 171, 0.05),
    0px 26px 26px 0px rgba(171, 171, 171, 0.09),
    0px 6px 14px 0px rgba(171, 171, 171, 0.1); */
}
.team_card h5 {
  color: var(--Text-Colors-900, #09090b);

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.team_card p {
  color: #666;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  transition: all 0.3s ease-in-out;
}
.team_card {
  position: relative;
  overflow: hidden;
}
.team_card.team h5 {
  font-size: 21px;
}
.team.team_card p {
  font-size: 16px;
  line-height: 18px;
}

.team_card:hover .team-icon {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.team-icon {
  position: absolute;
  bottom: 145px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.team-icon a {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.team_card:hover .team-icon a {
  transform: translateY(-10px); /* Adjust for the desired effect */
}

/* Slider */

.team-slider .slick-list {
  /* clip-path: inset(-100vw -100vw -100vw 0); */
  overflow: hidden;
}

.team-slider .slick-arrow.hidden {
  display: none !important;
}

.team-slider .slick-arrow {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-100%);
  height: 60px;
  width: 60px;
  color: #38b6ff;
  background-color: #fff;
  border-bottom: 2px solid #38b6ff;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
  box-shadow: 0 24px 24px #c1deee;
}

.team-slider .slick-arrow.slider-next {
  left: auto;
  right: -60px;
}

@media (max-width: 1199px) {
  .team-slider .slick-arrow {
    display: none !important;
  }
}
