@tailwind base;
@tailwind components;
@tailwind utilities;

/* group utilities  */
@layer base {
  body {
    @apply text-[18px] text-text-color font-NeueMachina font-normal leading-[1.6];
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-title-color font-bold;
  }
}

.container {
  @apply mx-auto 2xl:max-w-[1320px] xl:max-w-[1280px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-4;
}

.main-title {
  @apply text-[30px] md:text-[64px] leading-[1.2];
}

.subtitle {
  @apply md:text-[20px] text-[18px] text-primary-color leading-[1.6];
}
.section-title {
  @apply 2xl:text-[48px] xl:text-[36px] text-[32px] leading-[1.2];
}

.custom-shadow {
  @apply shadow-[0px_161px_45px_0px_rgba(171,171,171,0),0px_103px_41px_0px_rgba(171,171,171,0.01),0px_58px_35px_0px_rgba(171,171,171,0.05),0px_26px_26px_0px_rgba(171,171,171,0.09),0px_6px_14px_0px_rgba(171,171,171,0.1)];
}

.thm_btn {
  padding: 12px 20px;
  border-radius: 134px;
  background: var(--primary-color, #38b6ff);

  /* s1 */
  box-shadow: 0px 24px 34px 0px #c1deee;
}
.thm_btn a {
  color: var(--Text-Colors-100, #f4f5f7);

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
}
/* Hide pagination on medium devices */

.offcanvas:before {
  position: absolute;
  left: -100vh;
  top: 0;
  height: 100%;
  width: 100vh;
  content: "";
  background: #000;
  z-index: -1;
  opacity: 0.5;
  transition: 0.5s;
}

.offcanvas.active:before {
  left: 0;
}

.card_gradient {
  @apply bg-gradient-to-t to-[#4512B2] from-[#23074D] border border-[#D101FF];
}

/* Hide pagination on medium devices */
.offcanvas.active {
  left: 0;
}

/* slider css  */
.innovative-slider .slick-list {
  /* clip-path: inset(-100vw -100vw -100vw 0); */
  overflow: hidden;
}

.innovative-slider .slick-arrow.hidden {
  display: none !important;
}

.innovative-slider .slick-arrow {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-100%);
  height: 60px;
  width: 60px;
  color: #38b6ff;
  background-color: #fff;
  border-bottom: 2px solid #38b6ff;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
  box-shadow: 0 24px 24px #c1deee;
}

/* .innovative-slider .slick-arrow:before {
  position: absolute;
  right: 0;
  height: 300px;
  width: 2000%;
  content: "";
  background-image: linear-gradient(90deg, #f5f5f5 90%, transparent 100%);
  z-index: -1;
  transform: translateY(-20px);
}

.innovative-slider .slick-arrow.slider-next:before {
  background-image: linear-gradient(-90deg, #f5f5f5 90%, transparent 100%);
  left: 0;
  right: auto;
} */

.innovative-slider .slick-arrow.slider-next {
  left: auto;
  right: -60px;
}

/* .innovative-slider .slick-arrow.slider-next:before {
  background-image: linear-gradient(-90deg, #f5f5f5 90%, transparent 100%);
  left: 0;
  right: auto;
} */

.slick-dots {
  display: flex !important;
  align-items: center;
  position: inherit !important;
  justify-content: center;
  margin-top: 40px !important;
}

.slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto !important;
  width: auto !important;
}

.slick-dots li button {
  border: 1px solid #e7eff1 !important;
  height: 16px !important;
  width: 16px !important;
  border-radius: 50%;
  text-indent: none !important;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  width: 32px !important;
  background: #38b6ff;
  border-radius: 1000px;
  border-color: #38b6ff;
}

@media (max-width: 1199px) {
  .innovative-slider .slick-arrow {
    display: none !important;
  }
}

/* Common Banner */

.common_banner-area {
  /* background: url(../app/assets/images/cbannerbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */

  border-radius: 30px;
  border: 1px solid #e0ebf1;
}

/* ---------------
       Footer
---------------- */

.footer {
  background: var(--black, #1d1d1b);
}
.footer .container {
  padding: 117px 0 30px 0;
}

.footer .container h3 {
  color: #fff;
  font-family: var(--font-neue-machina);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px; /* 120.833% */
  letter-spacing: -0.72px;
  margin-top: 17px;
  margin-bottom: 31px;
}
.footer .container p {
  color: #fff;

  font-family: var(--font-neue-machina);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  opacity: 0.8;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer .socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .socials svg:hover .path {
  opacity: 1;
  fill: #38b6ff;
  stroke: none;
  cursor: pointer;
}
.footer ul.pages li {
  margin-bottom: 23px;
}
.footer ul.links li {
  margin-bottom: 35px;
}

.footer ul li a {
  color: var(--white, #fff);

  font-family: var(--font-neue-machina);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
.footer ul li:hover a {
  color: #d8d8d8;
}
.dark .footer ul li:hover a {
  color: #d8d8d8 !important;
}

.lets_talk_btn {
  display: flex;
  height: 70px;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--white, #fff);
  font-family: "Neue Machina";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 120px;
  background: var(--primary-color, #38b6ff);
}
.footer input[type="text"] {
  border-radius: 120px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: var(--black, #1d1d1b);
  padding: 20px;
}
.footer input[type="text"]::placeholder {
  color: var(--Base-Color-04, #fff);
  font-family: "Neue Machina";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.48px;
}

.footer .footer_line {
  height: 1px;
  background: rgba(255, 255, 255, 0.1);

  margin-top: 100px;
  width: 100%;
}
.footer .copyright {
  color: var(--Dark-Shade-3, #ebebeb);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}
.gap-8 {
  gap: 8px;
}

@media (max-width: 575px) {
  .footer .container {
    padding: 60px 15px 30px 15px;
  }
  .footer_line {
    margin-top: 30px;
  }
  .footer .container p {
    font-size: 14px;
  }
  .footer .container ul li a {
    font-size: 14px;
  }
  .footer ul.pages li {
    margin-bottom: 10px;
  }
  .footer ul.links li {
    margin-bottom: 10px;
  }
}
