@tailwind base;
@tailwind components;
@tailwind utilities;

/* group utilities  */
@layer base {
  body {
    @apply lg:text-[18px] text-[16px] text-text-color font-NeueMachina font-normal leading-[1.6];
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-title-color font-bold;
  }
}

.container {
  @apply mx-auto 2xl:max-w-[1320px] xl:max-w-[1280px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-4;
}

.main-title {
  @apply 2xl:text-[64px] xl:text-[42px] text-[36px] leading-[1.2];
}

.subtitle {
  @apply md:text-[20px] text-[18px] text-primary-color leading-[1.6];
}
.section-title {
  @apply 2xl:text-[48px] xl:text-[36px] text-[32px] leading-[1.2];
}

.custom-shadow {
  @apply shadow-[0px_161px_45px_0px_rgba(171,171,171,0),0px_103px_41px_0px_rgba(171,171,171,0.01),0px_58px_35px_0px_rgba(171,171,171,0.05),0px_26px_26px_0px_rgba(171,171,171,0.09),0px_6px_14px_0px_rgba(171,171,171,0.1)];
}

.thm_btn {
  padding: 12px 20px;
  border-radius: 134px;
  background: var(--primary-color, #38b6ff);

  /* s1 */
  box-shadow: 0px 24px 34px 0px #c1deee;
}
.thm_btn a {
  color: var(--Text-Colors-100, #f4f5f7);

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
}
/* Hide pagination on medium devices */
.offcanvas.active {
  left: 0;
}

.offcanvas.active:before {
  left: 0;
}

.card_gradient {
  @apply bg-gradient-to-t to-[#4512B2] from-[#23074D] border border-[#D101FF];
}


/* slider css  */
.innovative-slider .slick-list {
  /* clip-path: inset(-100vw -100vw -100vw 0); */
  overflow: inherit;
}

.innovative-slider .slick-arrow.hidden {
  display: none!important;
}

.innovative-slider .slick-arrow {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  color: #38B6FF;
  background-color: #fff;
  border-bottom: 2px solid #38B6FF;
  border-radius: 50%;
  display: flex!important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
  box-shadow: 0 24px 24px #C1DEEE;
}

.innovative-slider .slick-arrow:before {
  position: absolute;
  right: 0;
  height: 300px;
  width: 2000%;
  content: "";
  background-image: linear-gradient(90deg, #F5F5F5 90%, transparent 100%);
  z-index: -1;
  transform: translateY(-20px);
}

.innovative-slider .slick-arrow.slider-next:before {
  background-image: linear-gradient(-90deg, #F5F5F5 90%, transparent 100%);
  left: 0;
  right: auto;
}

.innovative-slider .slick-arrow.slider-next {
  left: auto;
  right: -60px;
}


.innovative-slider .slick-arrow.slider-next:before {
  background-image: linear-gradient(-90deg, #F5F5F5 90%, transparent 100%);
  left: 0;
  right: auto;
}

.slick-dots {
  display: flex!important;
  align-items: center;
  position: inherit!important;
  justify-content: center;
  margin-top: 40px!important;
}

.slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto!important;
  width: auto!important;
}

.slick-dots li button {
  border: 1px solid #E7EFF1!important;
  height: 16px!important;
  width: 16px!important;
  border-radius: 50%;
  text-indent: none!important;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  width: 32px!important;
  background: #38B6FF;
  border-radius: 1000px;
  border-color: #38B6FF;
}

@media (max-width: 1199px) {
  .innovative-slider .slick-arrow {
    display: none!important;
  }
}