@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Regular.eot');
    src: url('NeueMachina-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Regular.woff2') format('woff2'),
        url('NeueMachina-Regular.woff') format('woff'),
        url('NeueMachina-Regular.ttf') format('truetype'),
        url('NeueMachina-Regular.svg#NeueMachina-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Black.eot');
    src: url('NeueMachina-Black.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Black.woff2') format('woff2'),
        url('NeueMachina-Black.woff') format('woff'),
        url('NeueMachina-Black.ttf') format('truetype'),
        url('NeueMachina-Black.svg#NeueMachina-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Ultralight.eot');
    src: url('NeueMachina-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Ultralight.woff2') format('woff2'),
        url('NeueMachina-Ultralight.woff') format('woff'),
        url('NeueMachina-Ultralight.ttf') format('truetype'),
        url('NeueMachina-Ultralight.svg#NeueMachina-Ultralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Regular_1.eot');
    src: url('NeueMachina-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Regular_1.woff2') format('woff2'),
        url('NeueMachina-Regular_1.woff') format('woff'),
        url('NeueMachina-Regular_1.ttf') format('truetype'),
        url('NeueMachina-Regular_1.svg#NeueMachina-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Ultrabold.eot');
    src: url('NeueMachina-Ultrabold.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Ultrabold.woff2') format('woff2'),
        url('NeueMachina-Ultrabold.woff') format('woff'),
        url('NeueMachina-Ultrabold.ttf') format('truetype'),
        url('NeueMachina-Ultrabold.svg#NeueMachina-Ultrabold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Ultrabold_1.eot');
    src: url('NeueMachina-Ultrabold_1.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Ultrabold_1.woff2') format('woff2'),
        url('NeueMachina-Ultrabold_1.woff') format('woff'),
        url('NeueMachina-Ultrabold_1.ttf') format('truetype'),
        url('NeueMachina-Ultrabold_1.svg#NeueMachina-Ultrabold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Bold.eot');
    src: url('NeueMachina-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Bold.woff2') format('woff2'),
        url('NeueMachina-Bold.woff') format('woff'),
        url('NeueMachina-Bold.ttf') format('truetype'),
        url('NeueMachina-Bold.svg#NeueMachina-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Medium.eot');
    src: url('NeueMachina-Medium.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Medium.woff2') format('woff2'),
        url('NeueMachina-Medium.woff') format('woff'),
        url('NeueMachina-Medium.ttf') format('truetype'),
        url('NeueMachina-Medium.svg#NeueMachina-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Light.eot');
    src: url('NeueMachina-Light.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Light.woff2') format('woff2'),
        url('NeueMachina-Light.woff') format('woff'),
        url('NeueMachina-Light.ttf') format('truetype'),
        url('NeueMachina-Light.svg#NeueMachina-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Light_1.eot');
    src: url('NeueMachina-Light_1.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Light_1.woff2') format('woff2'),
        url('NeueMachina-Light_1.woff') format('woff'),
        url('NeueMachina-Light_1.ttf') format('truetype'),
        url('NeueMachina-Light_1.svg#NeueMachina-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

